

{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/resorts/resort-index.css' %}"/>
{% endblock %} 

{% block content %}

<div class="header">
    <img src="https://i3.wp.com/media.cntraveler.com/photos/549966eddf8f55bf04225ec0/master/pass/val-disere-france-cr-hemis-alamy.jpg?ssl=1" 
    alt="Whistler Blackcomb Resort" width="728" height="524">
</div>
<section class="page-header">
  <h1>Ski Resort Collection</h1>
</section>


<section class="card-container">
    {% if not albums %}
    <h1>Please add your first resort 🏔️.</h1>
  {% else %}
  {% for resort in resorts %}
    <div class="card">
      <div class="card-content">
        <a href="{% url 'resort-detail' resort.id %}">
        <h2 class="card-title">{{ resort.name }}</h2>
        <p>📍 {{ resort.state }}, {{ resort.country }}</p>
        <p>🎟️ Lift Ticket: <strong>{{ resort.lift_ticket }}</strong></p>
        <p><small>{{ resort.address }}</small></p>
      </div>
    </div>
  {% endfor %}
{% endif %}
</section>

{% endblock %}


